<div>
    <div class="input-group">
        <label class="input-group-addon" for="searchText">Search</label>
        <input id="searchText" data-ng-model="searchText" class="form-control" placeholder="Search"
               ng-model-options="{ debounce: 500 }"/>
        <label class="input-group-addon" for="tags">Tags</label>
        <input id="tags" data-ng-model="tags" class="form-control" placeholder="Tags"
               ng-model-options="{ debounce: 500 }"/>
        <!--Sort by column-->
        <label class="input-group-addon" for="sortColumn">Sort By</label>
        <select id="sortColumn" data-ng-model="sortColumn" class="form-control" ng-change="load()">
            <option value="name">Name</option>
            <option value="description">Description</option>
            <option value="createdTime">Created time</option>
        </select>
        <!--Sort by dimension-->
        <label class="input-group-addon" for="sortDimension">Order</label>
        <select id="sortDimension" data-ng-model="sortDimension" class="form-control" ng-change="load()">
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
        </select>
        </span>
          <span class="input-group-btn">
            <button type="button" class="add-new form-control" data-toggle="modal">Import</button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="add-new form-control" data-toggle="modal">Show No Tags</button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="add-new form-control" data-toggle="modal">Show No Spintax</button>
          </span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>List goes here</h2>
    </div>
    <div class="col-lg-6" style="border: dashed">
        <h2>Slide Page goes here</h2>
    </div>
</div>