<h2>Niche Management</h2>
<input data-ng-model="searchText" ng-change="load()" ng-model-options="{ debounce: 1000 }"/>
<!--Sort by column-->
<select data-ng-model="sortColumn" ng-change="load()">
    <option value="name">Name</option>
    <option value="description">Description</option>
    <option value="createdTime">Created time</option>
</select>
<!--Sort by dimension-->
<select data-ng-model="sortDimension" ng-change="load()">
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
</select>
<div>
    <button class="add-new" ng-click="addNew()">Add</button>
    <div class="new-niche" ng-show="showNewNicheBox">
        <span>Code</span><input data-ng-model="code" type="text" name="code"/>
        <span>Name</span><input data-ng-model="name" type="text" name="name"/>
        <span>Description</span><input data-ng-model="description" type="text" name="description"/>
        <button class="add" ng-click="submit()">Ok</button>
        <button class="cancel" ng-click="cancel()">Cancel</button>
        <span class="new-niche-message">{{newNicheMessage}}</span>
    </div>
</div>
<ul>
    <li ng-repeat="niche in niches" class="thumbnail">
        <a href="#/niches/{{niche.code}}">{{niche.name}}</a>

        <p>{{niche.description}}</p>

        <p>{{niche.createdTime}}</p>
    </li>
</ul>
<div class="is-empty" ng-show="isEmpty">There's no niches</div>
<div class="scroll-down" ng-click="loadMore()">{{scrollDown}}</div>