<div class="row">
    <div class="col-lg-8">
        <div class="input-group">
            <input data-ng-model="searchText" class="form-control" placeholder="Search"
                   ng-change="load()" ng-model-options="{ debounce: 500 }"/>
            <!--Sort by column-->
            <label class="input-group-addon" for="sortColumn">Sort By</label>
            <select id="sortColumn" data-ng-model="sortColumn" class="form-control" ng-change="load()">
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="createdTime">Created time</option>
            </select>
            <!--Sort by dimension-->
            <label class="input-group-addon" for="sortDimension">Order</label>
            <select id="sortDimension" data-ng-model="sortDimension" class="form-control" ng-change="load()">
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
            </select>
            </span>
          <span class="input-group-btn">
            <button type="button" class="add-new form-control" data-toggle="modal" data-ng-click="addNew()">Add New
            </button>
          </span>
        </div>
    </div>
</div>
<ul>
    <li ng-repeat="niche in niches" class="thumbnail">
        <a href="javascript:void(0)" data-ng-click="update(niche)">{{niche.name}}</a>

        <p>{{niche.description}}</p>

        <p>{{niche.createdTime}}</p>

        <a ui-sref="articles">Show Articles</a>
    </li>
</ul>
<div class="is-empty" ng-show="isEmpty">There's no niches</div>
<div class="scroll-down" data-ng-click="loadMore()">{{scrollDown}}</div>